.cardColor{
    // padding: 1px;
    display: flex;
    position: relative;
    width: (100% / 3);
    height: (100% / 3);
    @include fontSize(16);
    @include transition();
    @media #{$mediaMobile}{
        width: 50%;
        height: 240px;
        @include fontSize(14);
    }
    &:hover{
        z-index: 1;;
        transform: scale(1.02);
        box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.62);
    }
    &_color{
        width: 100%;
    }
    &_content{
        height: 100%;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &_txt{
            line-height: 1.5;
            padding: 10px 20px;
            &--center{
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                align-content: center;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                @include transition();
                text-transform: capitalize;
                background-color: rgba($black , 0.1);
                p{
                    width: 100%;
                }
            }
            &--year,
            &--pantone{
                position: absolute;
                text-shadow: 2px 2px 7px rgba(150, 150, 150, 0.95);
            }
            &--year{
                top: 0;
                left: 0;
            }
            &--pantone{
                bottom: 0;
                right: 0;
            }
        }
        &:hover{
            .cardColor_content_txt--center{
                background-color: rgba($black , 0.1);
            }
        }
        &_copy{
            top: 10px;
            right: 10px;
            padding: 10px;
            border-radius: 50%;
            position: absolute;
            font-weight: normal;
            @include transition();
            background-color: rgba($black , 0.1);
            &:hover{
                background-color: rgba($black , 0.2);
            }
        }
    }
}