.modalCopy{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
      color: $white;
      h2{
        @include fontSize(50);
      }
    }
  }